<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>道易程</title>
     <link href=/bootstrap-5.0.2-dist/css/bootstrap.min.css rel="stylesheet" type="text/css" />
<!--    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- <link href=./bootstrap-5.0.2-dist/css/docs.css rel="stylesheet" type="text/css" /> -->
    <link href=/index.css rel="stylesheet" type="text/css" />
    <script src=/public/web3.min.js></script>
    <script src=/public/web3model1.94.js></script>
    <script src=/public/chains.min.js></script>
    <script src=/public/wallectconnect.min.js></script>
    <script src=/public/fortmatic.js></script>
    <!-- <script src=./public/jszip.min.js></script>
    <script src=./public/FileSaver.js></script> -->
    <script src=/jquery-3.2.1.min.js></script>
     <script src=/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js></script>
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>-->

</head>
<body>


<script src='/bundle.js?h=02'></script>
</body>
</html>
<script>
    console.log(propertis.version)
</script>